body{
  margin: 0px;
  background-color: #00007f;
}
h1{
  margin: 0px;
}
.header{
  position: relative;
  top: 0px;
  text-align: center;
  height: 80px;
  margin: 0px;
  background: linear-gradient(to top,blue,white);
  color: white;
  font-size: 30px;
}
.container{
  position: relative;
  float: left;
  background-color: gray;
  margin-top: 5%;
  height: 320px;
}
.footer{
  position: absolute;
  bottom:0px;
  height: 10%;
  background: linear-gradient(to bottom,blue,white);
  width: 100%;
  text-align: center
}
