body{
  margin: 0px;
  background-color: #00007f;
}
img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 320px;
}
a{
  text-decoration: none;
  color: white;
}
h1{
  margin:0px;
}
.header{
  position: relative;
  top: 0px;
  text-align: center;
  height: 80px;
  margin: 0px;
  background: linear-gradient(to top,blue,white);
  color: white;
  font-size: 30px;
}
.container{
  position: relative;
  float: left;
  background-color: gray;
  margin-top: 5%;
  left: 20%;
  height: 320px;
  overflow-x: scroll
}
.navbar{
  font-size: 50px;
  position: relative;
}
.navbar li{
  display: inline;
  color: white;
  background: linear-gradient(to top,blue,white);
}
.navbar li a:hover{
  background: linear-gradient(to bottom,blue,white);
}
.active{
  background: linear-gradient(to bottom,blue,white);
}
.contacts li{
  position: relative;
  list-style-type: none;
  display: inline;
}
.contact{

  height: 40px;
  width: 40px;
}
.footer{
  position: absolute;
  bottom:0px;
  height: 10%;
  background: linear-gradient(to bottom,blue,white);
  width: 100%;
  text-align: center
}
